body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}
.profile img {
    width: 200px;
    height: 250px;
    margin: 20px;
}

.real-time-data {
    margin: 20px;
    font-size: 18px;
}
.github-link {
    margin-top: 20px;
}

a {
    color: #0078e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}